@font-face {
    font-family: 'Fraunces';
    src: url('./assets/fonts/fraunces/Fraunces-VariableFont_SOFT,WONK,opsz,wght.ttf') format('truetype');
   }

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html  {
    --neon : #44FFA1;
}

body {
    font-family: 'Fraunces';
    overflow-x: hidden;
    height: 100%;
}

header {
    background-color: #24053E;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
}

header img {
    position: relative;
    left: 150px;
}


header a{
    color: white;
    text-decoration: none;
    font-weight: 500;
    position: relative;
    right: 150px;
    text-decoration: solid underline var(--neon) 3px;
    text-underline-offset: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header a:hover {
    color: var(--neon)
}

main {
    background-color: #24053E;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    border-radius: 100% 100% 95% 95% / 0% 0% 30% 30%;
                    

}

.hero {
    position: relative;
    top: 80px;
}

.hero-text {
    font-size: 5rem;
    color: white;
    /* line-height: 1; */
    margin-bottom: 1.7rem;
    font-weight: 500;
}

.highlight{
    text-decoration: solid underline var(--neon) 3px;
    text-underline-offset: 10px;
}

.hero button,
.announcement-description button {
    background-color: var(--neon);
    padding: 10px;
    border: 2px solid var(--neon);
    cursor: pointer;
    padding: 15px 25px;
    font-weight: 500;
    font-size: 1rem;
}


.hero button:hover,
. button:hover {
    
    background-color: transparent;
    color: var(--neon);
    border: 2px solid var(--neon);
}

.hero-image-wrapper img{
    position: relative;
    top: 180px;
    width: 767px;
    height: 441px;
}

.hero-image {
    width: 100%;
    height: auto;
}

.misc1 {
    background: url("./assets/images/bg-pattern-1.svg");
    width: 270px;
    height: 215px;
    background-repeat: no-repeat;
    position: absolute;
    top: 200px;
    left: -90px;
    background-size: contain;
}

.misc2 {
    background: url("./assets/images/bg-pattern-2.svg");
    width: 141px;
    height: 112px;
    background-repeat: no-repeat;
    position: absolute;
    top: 400px;
    right: -70px;
    /* transform: rotate(10deg); */
    background-size: contain;
}

.misc4 {
    background: url("./assets/images/bg-pattern-3.svg");
    width: 173px;
    height: 137px;
    background-repeat: no-repeat;
    position: absolute;
    bottom: -120px;
    right: 50px;
    background-size: contain;
    z-index: 3;
}

body .misc3 {
    background-color: #FCF8FF;
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}


.value-props {
    height: 960px;
    color: #24053E;
    display: grid;
    place-content: center;
    background-color: #FCF8FF;
    border-radius: 100% 100% 95% 95% / 0% 0% 30% 30%;

}

.cards {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 2rem;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 1rem;
}

.card-content {
    width: 20rem;
}


.card h3{
    width: 3rem;
    height: 3rem;
    border: 1px solid black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}


footer {
    height: 960px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}

.announcement {
    display: flex;
    position: relative;

}

.announcement-image {
    width: 10rem;
    height: 10rem;
    position: relative;
    right: 14rem;
    bottom: 6rem;
}

.announcement-description {
    width: 730px;
    height: 413px;
    background-color: #24053E;
    position: relative;
    bottom: -5rem;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 3rem;
    gap: 2rem;
}

.announcement-description h2 {
    font-size: 3rem;
}

.announcement-description p {
    line-height: 1.6rem;
}

.announcement-description button {
    width: max-content;
}

.contact {
    width: 8rem;
    height: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.sm-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
}

@media (max-width: 37rem){

    .misc1,
    .misc2,
    .misc4 {
        display: none;
    }

    header img {
        position: relative;
        left: 50px;
    }

    header a{
    position: relative;
    right: 50px;
}

    .hero-text {
        font-size: 3rem;
    }

    .hero-image-wrapper img{
        width: 385px;
        height: 220px;
    }

    .value-props {
        position: relative;
        place-content: center;
        z-index: -1;
        top: 100px
    }

    .cards {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    footer {
        height: 960px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        position: relative;
        top: 50px;
    
    }

    .announcement {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .announcement-image {
        position: static;
        width: 100%;
        text-align: center;
    }

    .announcement-image img {
        width: 281px;
        height: 281px;
    }

    .announcement-description {
        width: 100%;
        height: 375px;
        background-color: #24053E;
        padding: 1rem;
        gap: 2rem;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .announcement-description h2 {
        font-size: 2rem;
    }

    .announcement-description p{ 
        line-height: 1.5rem;
        font-weight: 300;
    }

}